/data/
data.zip
*__pycache__/
/lightning_logs/
/logs/
/logs_mosmed/
save_model/
save_model_mosmed/
save_model_qata/
logs_mapper/
logs_qata/
save_mapper_qata/
save_mapper_mosmed/
logs_teacher_qata/
logs_teacher_mosmed/
save_model_qata_teacher/
save_model_mosmed_teacher/
save_model_qata_baseline_kd/
save_model_mosmed_baseline_kd/
logs_baseline_kd_qata/
logs_baseline_kd_mosmed/